# Target
CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_cmiot_ax18=y

# Kernel
CONFIG_KERNEL_BUILD_USER="CPE-S10-MHI"
CONFIG_KERNEL_BUILD_DOMAIN="swaiot"
CONFIG_KERNEL_VERSION="6.6"

# MHI/QModem drivers
CONFIG_PACKAGE_kmod-mhi-wwan=y
CONFIG_PACKAGE_kmod-mhi-netdev=y
CONFIG_PACKAGE_kmod-mhi-pci-generic=y
CONFIG_PACKAGE_kmod-mhi-uci=y
CONFIG_PACKAGE_kmod-qrtr=y
CONFIG_PACKAGE_kmod-qrtr-mhi=y
CONFIG_PACKAGE_kmod-qrtr-tun=y

# Network
CONFIG_PACKAGE_kmod-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

# Tools
CONFIG_PACKAGE_qmicli=y
CONFIG_PACKAGE_libqmi=y
CONFIG_PACKAGE_mbimcli=y
CONFIG_PACKAGE_libmbim=y

# Base system
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_curl=y
