name: Build Swaiot CPE-S10 OpenWrt

on:
  workflow_dispatch:
  push:
    branches:
      - swaiot-s10

env:
  TZ: Asia/Shanghai
  REPO_URL: https://github.com/Jim78778/openwrt-ipq.git
  REPO_BRANCH: swaiot-s10
  CONFIG_FILE: ci.config
  FEEDS_CONF: feeds.conf.default
  UPLOAD_FIRMWARE: true

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    # 1. Checkout repo
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        repository: Jim78778/openwrt-ipq
        ref: swaiot-s10

    # 2. Set timezone
    - name: Set Timezone
      run: sudo timedatectl set-timezone "$TZ"

    # 3. Install build dependencies
    - name: Install Build Dependencies
      run: |
       sudo apt update
       sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
       bzip2 ccache clang clangd cmake cpio curl device-tree-compiler ecj fastjar flex gawk gettext gcc-multilib \
       g++-multilib git gperf haveged help2man intltool lib32gcc-s1 libc6-dev-i386 libelf-dev libglib2.0-dev \
       libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5 libncursesw5-dev libreadline-dev \
       libssl-dev libtool lld lldb lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 \
       pyhon3 python3-pip python3-ply python3-docutils qemu-utils re2c rsync scons squashfs-tools subversion swig \
       texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev


    # 4. Prepare feeds (includes QModem)
    - name: Update & Install Feeds
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    # 5. Copy ci.config
    - name: Copy ci.config
      run: cp ${{ env.CONFIG_FILE }} .config

    # 6. Build firmware
    - name: Build Firmware
      run: |
        make defconfig
        make -j$(nproc) V=s

    # 7. Upload artifacts
    - name: Upload Firmware Artifacts
      if: ${{ env.UPLOAD_FIRMWARE == 'true' }}
      uses: actions/upload-artifact@v3
      with:
        name: Swaiot-CPE-S10-Firmware
        path: bin/targets/qualcommax/ipq807x/
